@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    background-color: #12121b;
    color: #e0e0f0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.todo-card {
    background-color: #1e1e2f;
    border-radius: 12px;
    padding: 25px;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}